{% extends "network/layout.html" %}

{% block sidebar_left %}
    {% include "network/sidebar_left.html" %}
{% endblock %}

{% block main %}
    {% url 'index' as index %}
    {% url 'following' as following %}
    {% url 'likes' as likes %}

    {% if request.path == index %}
    {% include "network/posts.html" with posts=posts headline="Home" %}
    {% elif request.path == following %}
    {% include "network/posts.html" with posts=posts headline="Following" %}
    {% elif request.path == likes %}
    {% include "network/posts.html" with posts=posts headline="Likes" %}
    {% endif %}

    {% include "network/pagination.html" with posts=posts %}
{% endblock %}

{% block sidebar_right %}
    {% include "network/sidebar_right.html" %}
{% endblock %}
