{% extends "network/layout.html" %}
{% load humanize %}

{% block body %}

    {% include "network/sidebar.html" %}

    <!-- Main -->
    {% if not user.is_authenticated %}
    <div class="col-lg-9 col-md-8 col-sm-7">
    {% else %}
    <div class="col-lg-7 col-md-6 col-sm-5">
    {% endif %}
        <div class="overflow-auto" style="max-height:100vh;">
        <!-- <div> -->
            <div class="h4 mb-0 pb-4 pt-2 sticky-top transparan">{{ headline }}</div>

            {% for post in posts %}
            <div class="container border-bottom ps-3 pe-4 py-3">
                <div class="row">
                    <div class="col-auto ps-0 pe-3">
                        <img src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" alt="avatar" width="60" height="60" class="rounded-circle shadow-1-strong" />
                    </div>
                    <div class="col p-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a href="{% url 'profile' username=post.poster.username %}" class="fw-bold text-decoration-none">{{ post.poster.username }}</a>
                                <!-- <span class="fw-bold">{{ post.poster.username }}</span> -->
                                <span class="small text-muted opacity-50">
                                    <span class="mx-2">&#183;</span>
                                    <span class="small">{{ post.date_posted|naturaltime }}</span>
                                </span>
                            </div>
                            {% if user == post.poster %}
                            <i class="fa-solid fa-ellipsis"></i>
                            {% endif %}
                        </div>
                        <div class="my-2">{{ post.content }}</div>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Comment -->
                            <div>
                                <i class="fa-regular fa-comment" role="button" data-mdb-toggle="modal" data-mdb-target="#comment_modal_{{ post.id }}"></i>
                                {% if post.num_of_comments %}
                                <span class="mx-1 text-muted">&#183;</span>
                                <span role="button" data-mdb-toggle="modal" data-mdb-target="#comment_list_modal_{{ post.id }}">{{ post.num_of_comments }}</span>
                                {% endif %}
                            </div>
                            <!-- Likes -->
                            <div>
                                <form action="{% url 'like' id=post.id %}" method="post">
                                    {% csrf_token %}
                                    {% if user in post.likers.all %}
                                    <i class="fa-solid fa-heart" role="button" id="like_post_{{ post.id }}"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart" role="button" id="like_post_{{ post.id }}"></i>
                                    {% endif %}
                                    {% if post.num_of_likes %}
                                    <span class="mx-1 text-muted">&#183;</span>
                                    <span role="button" data-mdb-toggle="modal" data-mdb-target="#likers_modal_{{ post.id }}">{{ post.num_of_likes }}</span>
                                    {% endif %}
                                </form>
                            </div>
                            <!-- Share -->
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comment (modal) -->
            <div class="modal top fade" id="comment_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                data-mdb-backdrop="true" data-mdb-keyboard="true">
                <div class="modal-dialog modal-lg  modal-dialog-centered">
                    <div class="modal-content">
            
                        <div class="p-5">
                            <div class="px-5 col-auto">
                                <form action="{% url 'comment' id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="d-grid gap-3">
            
                                        <div class="form-outline">
                                            <textarea class="form-control shadow-sm" id="comment_text_{{ post.id }}" rows="2"
                                                name="comment"></textarea>
                                            <label class="form-label" for="comment_text_{{ post.id }}">Add a comment for post {{ post.id }}:</label>
                                        </div>
            
                                        <input class="btn btn-secondary btn-rounded shadow-sm text-center" type="submit"
                                            value="Post">
                                    </div>
                                </form>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>

            <!-- List of comments (modal) -->
            <div class="modal top fade" id="comment_list_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
                <div class="modal-dialog modal-lg  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="p-5">
                            <div class="px-5 col-auto">
                                {% for comment in post.comments.all %}
                                <div class="my-3">
                                    <div>{{ comment.commenter.username }}</div>
                                    <div>{{ comment.comment }}</div>
                                    {% if "day" not in comment.commented|naturaltime %}
                                    <div>{{ comment.commented|naturaltime}}</div>
                                    {% else %}
                                    <div>{{ comment.commented }}</div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Likers (modal) -->
            <div class="modal top fade" id="likers_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
                <div class="modal-dialog modal-lg  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="p-5">
                            <div class="px-5 col-auto">
                                {% for liker in post.likers.all %}
                                <div class="my-3">
                                    <div>{{ liker.username }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Pagination -->
            <ul class="pagination pagination-circle d-flex justify-content-center mt-3">

                {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.number|add:"-1" }}</a>
                </li>
                {% endif %}

                <li class="page-item active current" aria-current="page">
                    <a class="page-link" href="#">{{ posts.number }} <span class="visually-hidden">(current)</span></a>
                </li>

                {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}">{{ posts.number|add:"1" }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
                </li>
                {% endif %}
            </ul>
            

        </div>
    </div>

    {% if user.is_authenticated %}
    {% include "network/sidebar2.html" %}
    {% endif %}

{% endblock %}