<!-- Pagination -->
{% if posts %}
<ul class="pagination pagination-circle d-flex justify-content-center mt-3">

    {% if posts.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.number|add:"-1" }}</a>
    </li>
    {% endif %}

    <li class="page-item active current" aria-current="page">
        <a class="page-link" href="#">{{ posts.number }} <span class="visually-hidden">(current)</span></a>
    </li>

    {% if posts.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">{{ posts.number|add:"1" }}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ posts.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
    </li>
    {% endif %}
</ul>
{% endif %}