{% load humanize %}

<!-- Headline -->
{% if headline %}
<div class="h4 mb-0 pb-4 px-4 pt-2 sticky-top transparan text-primary">
    {{ headline }}
</div>
{% endif %}

{% if not posts %}
<div class="container p-0">
    <h5 class="text-center p-3">No posts yet.</h5>
</div>
{% else %}

{% for post in posts %}
<!-- Post -->
<div class="container p-4 border-bottom post">
    <div class="row">
        <a href="{% url 'profile' user=post.poster.username %}" class="col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="4em" fill="currentColor"
                class="text-primary align-middle bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
        </a>
        <div class="col p-0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'profile' user=post.poster.username %}" class="fw-bold text-decoration-none align-middle">
                        {{ post.poster.username }}
                    </a>
                    <span class="small text-muted opacity-50 align-middle">
                        <span class="mx-2 align-middle">&#183;</span>
                        <span class="small align-middle">{{ post.date_posted|naturaltime }}</span>
                    </span>
                </div>


                <!-- Edit / delete (not yet) -->
                {% if user == post.poster %}
                <div class="dropdown">
                    <a href="#" role="button" id="edit_delete" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="edit_delete">
                        <li><a class="dropdown-item" href="{% url 'edit' id=post.id %}">Edit (not yet)</a></li>
                        <li>
                            <form action="{% url 'delete' id=post.id %}" method="post">
                                {% csrf_token %}
                                <input class="dropdown-item" type="submit" value="Delete">
                            </form>
                            <a class="dropdown-item" href="{% url 'delete' id=post.id %}">
                                Delete link (not working)
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}


            </div>

            <a href="{% url 'post' id=post.id %}">
                <div class="my-2 text-body">{{ post.content }}</div>
            </a>
            
            <div class="d-flex justify-content-start align-items-center">
                <!-- Comment -->
                <span class="pe-5">
                    <i class="fa-regular fa-comment" role="button" data-mdb-toggle="modal"
                        data-mdb-target="#comment_modal_{{ post.id }}"></i>
                    <span class="mx-1 text-muted">&#183;</span>
                    <span role="button" data-mdb-toggle="modal" data-mdb-target="#comment_list_modal_{{ post.id }}">
                        {% if post.comments.count %}
                        {{ post.comments.count }}
                        {% else %}
                        0
                        {% endif %}
                    </span>
                </span>
                <!-- Likes -->
                <span class="px-5">
                    <i {% if user.is_authenticated and user in post.likers.all %} class="fa-solid fa-heart" {% elif
                        user.is_authenticated %} class="fa-regular fa-heart" {% else %} class="fa-regular fa-heart"
                        role="button" data-mdb-toggle="modal" data-mdb-target="#like_post_{{ post.id }}" {% endif %}>
                    </i>
                    <span class="mx-1 text-muted">&#183;</span>
                    <span role="button" data-mdb-toggle="modal" data-mdb-target="#likers_modal_{{ post.id }}">
                        {% if post.likers.count %}
                        {{ post.likers.count }}
                        {% else %}
                        0
                        {% endif %}
                    </span>
                </span>
                <!-- Share -->
                <!-- <i class="fa-solid fa-share-nodes"></i> -->
            </div>
        </div>
    </div>
</div>
<!-- Modals -->
<div>
    <!-- Comment -->
    <div class="modal top fade" id="comment_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-5">
                    <div class="col-auto">
                        {% if user.is_authenticated %}
                        <form action="{% url 'comment' id=post.id %}" method="post">
                            {% csrf_token %}
                            <div class="d-grid gap-3">
                                <div class="form-outline">
                                    <textarea class="form-control shadow-sm" id="comment_text_{{ post.id }}" rows="2"
                                        name="comment"></textarea>
                                    <label class="form-label" for="comment_text_{{ post.id }}">Add a comment:</label>
                                </div>
    
                                <input class="btn btn-secondary btn-rounded shadow-sm text-center" type="submit"
                                    value="Post">
                            </div>
                        </form>
                        {% else %}
                        <div class="my-3">
                            <div>You must <a href="{% url 'login'%}">Log In</a> to comment.</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <!-- List of comments -->
    <div class="modal top fade" id="comment_list_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-5">
                    <div class="col-auto">
                        {% if user.is_authenticated and post.comments.count %}
                        {% include "network/comments.html" with comments=post.comments.all %}
                        {% elif user.is_authenticated and not post.comments.count %}
                        <div class="my-3">
                            No comments yet.
                        </div>
                        {% elif not user.is_authenticated %}
                        <div class="my-3">
                            <div>You must <a href="{% url 'login'%}">Log In</a> to view this.</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Likes (if not user.is_authenticated) -->
    <div class="modal top fade" id="like_post_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-5">
                    <div class="col-auto">
                        {% if not user.is_authenticated %}
                        <div class="my-3">
                            <div>You must <a href="{% url 'login'%}">Log In</a> to like a post.</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of likers -->
    <div class="modal top fade" id="likers_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-5">
                    <div class="col-auto">
                        {% if user.is_authenticated and post.likers.count %}
                        {% include "network/users.html" with users=post.likers.all %}
                        {% elif user.is_authenticated and not post.likers.count %}
                        <div class="my-3">
                            No likes yet.
                        </div>
                        {% elif not user.is_authenticated %}
                        <div class="my-3">
                            <div>You must <a href="{% url 'login'%}">Log In</a> to view this.</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit -->
    <div class="modal top fade" id="edit_modal_{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="p-5">
                    <div class="px-5 col-auto">
                        {% if user.is_authenticated and user == post.poster %}
                        Textarea here
                        {% elif not user.is_authenticated or not user == post.poster %}
                        <div class="my-3">
                            <div>You are not authorized to do edit this post.</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endif %}