{% extends "network/layout.html" %}

{% block body %}

{% include "network/sidebar_left.html" %}

<!-- Main -->
<div class="col-lg-7 col-md-6 col-sm-9">
    <div class="overflow-auto" style="max-height:100vh;">
        <!-- <div> -->
            <div class="sticky-top py-4">
                {% include "network/profile_info.html"%}
                
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3 border-bottom" id="ex1" role="tablist">
                    <li class="nav-item transparan" role="presentation">
                        <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab"
                            aria-controls="ex2-tabs-1" aria-selected="true">Posts</a>
                    </li>
                    <li class="nav-item transparan" role="presentation">
                        <a class="nav-link" id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab"
                            aria-controls="ex2-tabs-2" aria-selected="false">Likes</a>
                    </li>
                </ul>
            </div>
        

        <!-- Tabs content -->
        <div class="tab-content" id="ex2-content">

            <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                {% include "network/posts.html" with posts=posts %}
                {% include "network/pagination.html" with posts=posts %}
            </div>

            <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                {% include "network/posts.html" with posts=liked_posts %}
                {% include "network/pagination.html" with posts=liked_posts %}
            </div>

        </div>
    </div>
</div>

{% include "network/sidebar_right.html" %}

{% endblock %}