<!-- Sidebar left -->

<!-- <div class="px-4 col-lg-3 col-md-4 col-sm-5 my-4"> -->
<div class="px-3 col-lg-2 col-md-3 col-sm-3 my-4 border">

    <!-- Title -->
    <div class="d-grid gap-2">
        <a href="/" class="h3 mt-3 text-center comfortaa fw-bold">
            netw<i class="fa-solid fa-globe h5"></i>rk
        </a>
    </div>

    <hr>

    {% if user.is_authenticated %}
    <!-- New post button -->
    <div class="d-grid gap-2">
        <button class="btn btn-secondary btn-rounded shadow-sm" data-mdb-toggle="modal"
            data-mdb-target="#newpost">
            New Post
        </button>
    </div>

    <!-- New post modal -->
    <div class="modal top fade" id="newpost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered">
            <div class="modal-content">
    
                <div class="p-5">
                    <div class="px-5 col-auto">
                        <form action="{% url 'create' %}" method="post">
                            {% csrf_token %}
                            <div class="d-grid gap-3">
    
                                <div class="form-outline">
                                    <textarea class="form-control shadow-sm" id="content" rows="2"
                                        name="content"></textarea>
                                    <label class="form-label" for="content">What's happening?</label>
                                </div>
    
                                <input class="btn btn-secondary btn-rounded shadow-sm text-center" type="submit"
                                    value="Post">
                            </div>
                        </form>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    {% else %}
    <!-- Login and register button -->
    <div class="d-grid gap-2">
        <a href="{% url 'register' %}" class="btn btn-primary btn-rounded shadow-sm" data-mdb-toggle="modal"
            data-mdb-target="#register">Register</a>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-rounded shadow-sm" data-mdb-toggle="modal"
            data-mdb-target="#login">Log In</a>
    </div>

    <!-- Login modal -->
    <div class="modal top fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered">
            <div class="modal-content">
    
                <div class="p-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <a href="/"
                                class="align-middle comfortaa px-3 d-inline-block link-body-emphasis text-decoration-none link-body-emphasis text-decoration-none display-1 fw-bold">
                                <i class="fa-solid fa-globe"></i>
                            </a>
                        </div>
    
                        <div class="text-center px-5 col-auto">
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="d-grid gap-3 mb-5">
                                    <a href="{% url 'login' %}" class="h4 comfortaa">Log In</a>
    
                                    {% if message %}
                                    <div class="small text-muted opacity-50">{{ message }}</div>
                                    {% endif %}
    
                                    <div class="form-outline">
                                        <input type="text" autocomplete="off" id="un"
                                            class="btn-rounded form-control shadow-sm" name="username" />
                                        <label class="form-label" for="un">Username</label>
                                    </div>
    
                                    <div class="form-outline">
                                        <input type="password" id="pw" class="btn-rounded form-control shadow-sm"
                                            name="password" />
                                        <label class="form-label" for="pw">Password</label>
                                    </div>
    
                                    <input class="btn btn-secondary btn-rounded shadow-sm text-center" type="submit"
                                        value="Log In">
                                </div>
                            </form>
    
                            <div>
                                <div class="small">Don't have an account?</div>
                                <a href="{% url 'register' %}" class="text-center">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <!-- Register modal -->
    <div class="modal top fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
    
                <div class="p-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <a href="/"
                                class="align-middle comfortaa px-3 d-inline-block link-body-emphasis text-decoration-none link-body-emphasis text-decoration-none display-1 fw-bold">
                                <i class="fa-solid fa-globe"></i>
                            </a>
                        </div>
    
                        <div class="text-center px-5 col-auto">
                            <form action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="d-grid gap-3 mb-5">
                                    <a href="{% url 'register' %}" class="h4 comfortaa">Register</a>
    
                                    {% if message %}
                                    <div class="small text-muted opacity-50">{{ message }}</div>
                                    {% endif %}
    
                                    <div class="form-outline">
                                        <input type="text" autocomplete="off" id="un"
                                            class="btn-rounded form-control shadow-sm" name="username" />
                                        <label class="form-label" for="un">Username</label>
                                    </div>
    
                                    <div class="form-outline">
                                        <input type="email" autocomplete="off" id="e"
                                            class="btn-rounded form-control shadow-sm" name="email" />
                                        <label class="form-label" for="e">Email Address</label>
                                    </div>
    
                                    <div class="form-outline">
                                        <input type="password" id="pw" class="btn-rounded form-control shadow-sm"
                                            name="password" />
                                        <label class="form-label" for="pw">Password</label>
                                    </div>
    
                                    <div class="form-outline">
                                        <input type="password" id="cf" class="btn-rounded form-control shadow-sm"
                                            name="confirmation" />
                                        <label class="form-label" for="cf">Confirm Password</label>
                                    </div>
    
                                    <input class="btn btn-primary btn-rounded shadow-sm text-center" type="submit"
                                        value="Register">
                                </div>
                            </form>
    
                            <div>
                                <div class="small">Already have an account?</div>
                                <a href="{% url 'login' %}" class="text-center">Log In</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    {% endif %}

    <hr>

    <!-- All posts, Following, Likes, Profile -->
    <div class="d-grid gap-2">
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}" class="btn btn-light btn-rounded shadow-sm">All Posts</a>
        
        <a href="{% url 'following' %}" class="btn btn-light btn-rounded shadow-sm">Following</a>
        
        <a href="{% url 'likes' %}" class="btn btn-light btn-rounded shadow-sm">Likes</a>
        <hr>
        <div class="btn-group shadow-0">
            <a href="{% url 'profile' user=user.username %}" class="btn btn-secondary btn-rounded shadow-sm">{{ user.username }}</a>
            <button type="button" class="btn btn-secondary btn-rounded shadow-sm dropdown-toggle dropdown-toggle-split" data-mdb-toggle="dropdown"
                aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'settings' %}" class="dropdown-item">Settings</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a href="{% url 'logout' %}" class="dropdown-item">Log Out</a></li>
            </ul>
        </div>
        {% endif %}
    </div>

</div>