<!-- Most followed user -->
<!-- <div class="mb-5">
    <div class="h5">Most followed users:</div>
    <ul class="list-group list-group-light list-group-small mb-3">
        {% for user in most_followed_users|slice:":3" %}
        <li class="list-group-item border-0">
            <a href="{% url 'profile' user=user.username %}" class="fw-bold text-decoration-none align-middle">
                {{ user.username }} ({{user.followers.count}} followers)
            </a>
        </li>
        {% endfor %}
        <li class="list-group-item border-0" role="button" data-mdb-toggle="modal" data-mdb-target="#most_followed_users">
            See more
        </li>
    </ul>
</div> -->

<!-- Most liked post -->
<div class="mb-5 lh-sm">
    <div class="h5 px-2 text-primary sticky-top transparan">Most liked posts</div>
    <div class="list-group list-group-light list-group-small">
        {% for post in most_liked_posts|slice:":3" %}
        <div class="post p-2 border-bottom small">
            <a href="{% url 'post' id=post.id %}" class="text-body text-decoration-none align-middle">
                <div class="text-primary fw-bold mb-1">{{ post.poster.username }}</div>
                <span class="fw-bold">{{ post.likers.count }} likes</span>
                <span class="mx-1 align-middle">&#183;</span>
                <span>{{post.content}}</span>
            </a>
        </div>
        {% endfor %}
        <div class="fw-bold post p-2 border-bottom" role="button" data-mdb-toggle="modal" data-mdb-target="#most_liked_posts">
            <i class="align-middle me-3 fa-solid fa-arrow-right-long"></i>
            See more
        </div>
    </div>
</div>

<!-- Most commented post -->
<div class="lh-sm">
    <div class="h5 px-2 text-primary">Most commented posts</div>
    <div class="list-group list-group-light list-group-small">
        {% for post in most_commented_posts|slice:":3" %}
        <div class="post p-2 border-bottom small">
            <a href="{% url 'post' id=post.id %}" class="text-body text-decoration-none align-middle">
                <div class="text-primary fw-bold">{{ post.poster.username }}</div>
                <span class="fw-bold">{{ post.comments.count }} comments</span>
                <span class="mx-1 align-middle">&#183;</span>
                {{ post.content }}
            </a>
        </div>
        {% endfor %}
        <div class="fw-bold post p-2 border-bottom" role="button" data-mdb-toggle="modal" data-mdb-target="#most_commented_posts">
            <i class="align-middle me-3 fa-solid fa-arrow-right-long"></i>
            See more
        </div>
    </div>
</div>


<!-- Modal: Most followed user -->
<!-- <div class="modal top fade" id="most_followed_users" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-5">
                <div class="col-auto">
                    {% for user in most_followed_users %}
                    <li class="list-group-item border-0">
                        <a href="{% url 'profile' user=user.username %}" class="fw-bold text-decoration-none align-middle">
                            {{ user.username }} ({{ user.followers.count }} followers)
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal: Most liked post -->
<div class="modal top fade" id="most_liked_posts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-5">
                <div class="col-auto">
                    <div class="h5 px-2 pb-3 text-primary sticky-top transparan">Most liked posts</div>
                    {% for post in most_liked_posts %}
                    <a href="{% url 'post' id=post.id %}" class="text-body text-decoration-none">
                        <div class="p-2 post border-bottom">
                            <div class="text-primary fw-bold">{{ post.poster.username }}</div>
                            <span class="fw-bold">{{ post.likers.count }} likes</span>
                            <span class="mx-1 align-middle">&#183;</span>
                            <span>{{ post.content }}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Most commented post -->
<div class="modal top fade" id="most_commented_posts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-5">
                <div class="col-auto">
                    <div class="h5 px-2 pb-3 text-primary sticky-top transparan">Most commented posts</div>
                    {% for post in most_commented_posts %}
                    <a href="{% url 'post' id=post.id %}" class="text-body text-decoration-none">
                        <div class="p-2 post border-bottom">
                            <div class="text-primary fw-bold">{{ post.poster.username }}</div>
                            <span class="fw-bold">{{ post.comments.count }} comments</span>
                            <span class="mx-1 align-middle">&#183;</span>
                            <span>{{ post.content }}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>