<!-- Sidebar right -->
<div class="px-3 d-sm-none d-none d-md-block col-lg-3 col-md-3 my-4 ">

    <!-- <div class="h5">Most followed users:</div>
    <ul class="list-group list-group-light list-group-small mb-3">
        {% for user in most_followed_users|slice:":3" %}
        <li class="list-group-item border-0">
            <a href="{% url 'profile' user=user.username %}" class="fw-bold text-decoration-none align-middle">
                {{ user.username }} ({{user.num_of_followers}} followers)
            </a>
        </li>
        {% endfor %}
        <li class="list-group-item border-0" role="button" data-mdb-toggle="modal" data-mdb-target="#most_followed_users">
            See more
        </li>
    </ul> -->

    <div class="mb-5">
        <div class="h5">Most liked posts:</div>
        <ul class="list-group list-group-light list-group-small mb-3">
            {% for post in most_liked_posts|slice:":3" %}
            <li class="list-group-item border-0">
                <a href="{% url 'post' id=post.id %}" class="fw-bold text-decoration-none align-middle">
                    {{ post.content }} ({{ post.num_of_likes }} likes)
                </a>
            </li>
            {% endfor %}
            <li class="list-group-item border-0" role="button" data-mdb-toggle="modal" data-mdb-target="#most_liked_posts">See
                more</li>
        </ul>
    </div>
    
    <div class="mb-5">
        <div class="h5">Most commented posts:</div>
        <ul class="list-group list-group-light list-group-small mb-3">
            {% for post in most_commented_posts|slice:":3" %}
            <li class="list-group-item border-0">
                <a href="{% url 'post' id=post.id %}" class="fw-bold text-decoration-none align-middle">
                    {{ post.content }} ({{ post.num_of_comments }} comments)
                </a>
            </li>
            {% endfor %}
            <li class="list-group-item border-0" role="button" data-mdb-toggle="modal" data-mdb-target="#most_commented_posts">
                See
                more</li>
        </ul>
    </div>
        
</div>


<!-- Most followed user -->
<!-- <div class="modal top fade" id="most_followed_users" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-5">
                <div class="col-auto">
                    {% for user in most_followed_users %}
                    <li class="list-group-item border-0">
                        <a href="{% url 'profile' user=user.username %}" class="fw-bold text-decoration-none align-middle">
                            {{ user.username }} ({{ user.num_of_followers }} followers)
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Most liked post -->
<div class="modal top fade" id="most_liked_posts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-5">
                <div class="col-auto">
                    {% for post in most_liked_posts %}
                    <div class="mb-4">
                        <a href="{% url 'post' id=post.id %}" class="text-decoration-none align-middle">
                            <span class="fw-bold me-2">{{ post.poster.username }}:</span> {{ post.content }} ({{ post.num_of_likes }} likes)
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Most commented post -->
<div class="modal top fade" id="most_commented_posts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-5">
                <div class="col-auto">
                    {% for post in most_commented_posts %}
                    <div class="mb-5">
                        <a href="{% url 'post' id=post.id %}"
                            class="text-decoration-none align-middle">
                            <span class="fw-bold me-2">{{ post.poster.username }}:</span> {{ post.content }} ({{ post.num_of_comments }} comments)
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>