.comfortaa {
    font-family: comfortaa, sans-serif;
}

.transparan {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
}

.post:hover,
.post:active {
    cursor: pointer;
}
.post:hover{
    background-color: #f7f7f7;
}
.post:active {
    background-color: #f5f5f5;
}